body {
    background-image: url('bg.png'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    }
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.logo-container{
    background-image:url('logo.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 200px;
    height: 200px;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-form {
    padding: 20px;
    border-radius: 10px;
    margin-top: 190px;
    display: inline-block;
    text-align: left;
    font-family:Helvetica, Arial, sans-serif;
}   
.form-group {
    margin-bottom: 15px;
}
.signup-heading {
    margin-bottom: 20px;
}
.logo-containersignup{
    background-image:url('logo.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0.5px;
    left: 0.5px;
}

.signup-form{
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 150px;
    text-align: left;
    
}
.signup-form input[type="submit"] {
    display: block;
    margin: 0 auto; 
}
.menu-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
    text-align: center;
}

.menu-button:hover {
    background-color: #0056b3;
}