body {
    background-image: url('bg.png'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    }
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.logo-container{
    background-image:url('logo.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 200px;
    height: 200px;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo-containermyapp{
    background-image:url('logo.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 70px;
    left: 70px;
    transform: translate(-50%, -50%);
}
.login-form {
    padding: 20px;
    border-radius: 10px;
    margin-top: 190px;
    display: inline-block;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}   
.form-group {
    margin-bottom: 15px;

}
.form-groupcreate {
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;


}
.form-grouplookresult{
    margin-top: 10px;
}
.form-groupcreatesub {
    margin-bottom: 10px;
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;


}
.form-grouplook {
    display: flex;
    justify-content: center;
     align-items: center;
    
}
.form-groupview {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.app-form {
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    
}
.form-grouplookback{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}
.form-grouplooksearch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}
.buttonlook{
    margin-right: 10px;
}
.form-grouplook button {
    width: 100px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 10px;
    margin-bottom:5px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;

}
.form-grouplookback button {
    width: 100px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 10px;
    margin-bottom:5px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;


}
.status {
    display: flex;
    margin-top: 260px;
    align-items: center;
    position: relative;
}
.status button {
    width: 100px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 10px;
    margin-bottom:15px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;

}
.form-grouplookback button {
    width: 100px;
    height: 40px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 10px;
    margin-top:10px;
}
.form-group1{
    display: inline-block;

}
.form-group1 button {
    width: 120px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 10px;
    margin-bottom:5px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;

}
.sepapp {
    display: flex;
    justify-content: space-between; /* This will add space between the two child containers */
}

.checkapp{
        display: flex;
        justify-content: space-between; /* This will add space between the two child containers */
}
.checkapp > div {
        flex: 1; /* Each child div takes up equal space */
        padding: 10px; /* Optional, for some spacing inside each container */
    }
    

.form-groupAdminmana {
    float: left;
    margin-bottom: 15px;
    margin-right: 10px;
}
.form-groupAdminmana input[type="submit"] {
    width: 150px;
    background-color: #48a4a7;
    border: none;
  }
  .form-groupAdminmana1 {
    float: left;
    margin-bottom: 15px;
    margin-right: 10px;
}
.form-groupAdminmana1 input[type="submit"] {
    width: 150px;
    height: 150px;
    background-color: #48a4a7;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;

  }
  .form-groupAdminmana1 button[type="submit"] {
    width: 150px;
    height: 150px;
    background-color: #48a4a7;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;

  }
.signup-heading {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
     align-items: center;
}
.signup-headingapp {
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-headingappointment {
    margin-bottom: 20px;
    display: flex;
}

.multiline-button {
    white-space: normal; 
    width: 200px; 
    height: auto; 
    text-align: center;
    background-color: #83c9ce; 
    
}
.logo-containersignup{
    background-image:url('logo.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0.5px;
    left: 0.5px;
}

.signup-form{
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    text-align: left; 
    align-items: center;  
}
.signup-formapp{
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 150px;
    text-align: left;
    
}
.signup-formlook{
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    align-items: center;
    text-align: center;   
}
#SearchText {
    width: 200px;
    border: 1px solid black;
    padding: 5px;
    font-size: 14px;
  }
.signup-form input[type="submit"] {
    display: block;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
 
}

.appformcontainer{
    width: 30%; 
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 40%;
    right: 5%;
    transform: translate(0, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: left;

} 
.appformcontainer1{
    width: 48%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    /* Remove absolute positioning */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: left;
    display: inline-flex;
    margin-right:  30px;
}
.sepapp{
    display: flex;
    flex-direction: column; 
    height: 100%;


}
.appformcontainertime{
    display: flex;
    flex-direction: column; 
    height: 100%;
} 
.appformcontainerreason{
    display: flex;
    flex-direction: column; /* Adjust as needed */
    justify-content: space-between; /* This will distribute the space */
    height: 100%;
    margin-left: 30px;
} 
.form-groupapp {
    margin-bottom: 15px;
    text-align: left;
}
.form-groupmain {
    margin-bottom: 15px;
    text-align: left;
}
.hover-button:hover {
    background-color: #83c9ce; 
    transform: scale(1.1); 
}
.form-groupbillinsert{
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
   
}
.update{
    justify-content: space-between;
}
.form-groupbill{
    margin-top: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
}
.form-groupdental{
    margin-top: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
}
.form-groupbilledit{
    margin-bottom: 5px;
    text-align: left;
    display: flex;
    justify-content: center;
}

.form-groupbill button {
    width: 120px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;

}
.form-groupdental button {
    width: 120px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;

}
.form-groupbillinsert button {
    width: 160px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;

}
.form-groupbilledit button {
    width: 120px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 0%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px ;
    font-family: 'Times New Roman', Times, serif;

}
.form-groupdentaledit{
    margin-bottom: 5px;
    margin-top: 0px;
    text-align: left;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;

}
.form-groupdentaleditt{
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: left;
    display: flex;
    justify-content: center;
}
.form-groupdentaledit button {
    width: 120px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px ;
    font-family: 'Times New Roman', Times, serif;

}
.form-groupdentaleditt button {
    width: 120px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px ;
    font-family: 'Times New Roman', Times, serif;

}
.form-groupbillinsert input[type="submit"] {
    display: inline-block; 
    margin: 0 10px; 
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;

}
.form-groupdentaledit{
    margin-top: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
}
.form-groupdentaledit input[type="submit"] {
    width: 120px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.form-groupapp button {
    width: 120px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;

}
.form-groupmain button {
    width: 120px;
    height: 40px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 1px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
.form-groupapptime{
    margin-bottom: 5px;
}
.form-groupapp1 input[type="submit"] {
    display: inline-block;
    width: 120px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 20px;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;

}

.form-groupapp label {
    display: block;
    text-align: left;
}
.form-groupapp textarea {
    width: 50%; 
}
input[type="submit"] {
    background-color: #48a4a7;
    color: black; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;


}
.form-groupmy {
    margin-bottom: 15px;
    text-align: center;
}
.form-groupmyy {
    text-align: center;
}
.form-groupmy button {
    width: 100px;
    background-color: #48a4a7;
   height: 30px;
    border: none;
    text-align: center;
    border-radius: 10px;
    margin-top: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;

}
.form-groupmyy button {
    width: 100px;
    background-color: #48a4a7;
   height: 35px;
    border: none;
    text-align: center;
    border-radius: 10px;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;

}
.form-groupmyapp button {
    width: 100px;
    background-color: #48a4a7;
   height: 30px;
    border: none;
    text-align: center;
    border-radius: 10px;
    margin-top: 200px;
    font-family: 'Times New Roman', Times, serif;

}
.form-groupmyprof {
    margin-bottom: 10px;
    text-align: center;
}
.form-groupappointment {
    align-items: center;
    justify-content: center;
    text-align: center;
}
.appointment{
    justify-content: center; 
    align-items: center; 
    height: 20px; 
    margin-top: 30px;
    margin-bottom: 20px;

}
.form-groupmyappointment {
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
}
.form-groupappointment  button {
    width: 100px;
    background-color: #48a4a7;
    height: 30px;
    border: none;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;


    
}
.form-groupmyprof1 {
    margin-top: 160px;
    margin-bottom: 15px;
    text-align: center;
    margin-left: 20px;
}
.form-groupmyprof button {
    width: 100px;
    background-color: #48a4a7;
   height: 30px;
    border: none;
    text-align: center;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;

}

th{
	border: 1px solid black;
    background-color: #48a4a7;
}
td{
	border: 1px solid black;
    background-color: #75a3a4;
    height: 20px;
	
}
table{
	border-collapse: collapse;
	margin-left: 20px;
	width: 100%;
    text-align: center;
}

h2{
    color: #1c7072;
}
.formgroup{
    margin-bottom: 1px;
}
.admintable{
    margin-right: 40px;
    margin-top: 30px;
}
.textbox {
    width: 300px; 
    padding: 5px; 
}
  
.label {
    margin-bottom: 5px; 
}
.buttonsearch {
    margin-right: 10px;
}
