body {
    background-image: url('bg.png'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    }
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.logo-container{
    background-image:url('logo.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 200px;
    height: 200px;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo-containermyapp{
    background-image:url('logo.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 70px;
    left: 70px;
    transform: translate(-50%, -50%);
}
.login-form {
    padding: 20px;
    border-radius: 10px;
    margin-top: 190px;
    display: inline-block;
    text-align: left;
    font-family:Helvetica, Arial, sans-serif;
}   
.form-group {
    margin-bottom: 15px;
    
}
.form-group1{
    display: inline-block;

}
.form-group1 button {
    width: 120px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 10px;
    margin-bottom:5px;
    margin-left: 10px;
}

.checkapp{
    margin-bottom: 1px;
}

.form-groupAdminmana {
    float: left;
    margin-bottom: 15px;
    margin-right: 10px;
}
.form-groupAdminmana input[type="submit"] {
    width: 150px;
    background-color: #48a4a7;
    border: none;
  }
  .form-groupAdminmana1 {
    float: left;
    margin-bottom: 15px;
    margin-right: 10px;
}
.form-groupAdminmana1 input[type="submit"] {
    width: 150px;
    height: 150px;
    background-color: #48a4a7;
    border: none;
  }
  .form-groupAdminmana1 button[type="submit"] {
    width: 150px;
    height: 150px;
    background-color: #48a4a7;
    border: none;
  }
.signup-heading {
    margin-bottom: 20px;
}
.logo-containersignup{
    background-image:url('logo.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0.5px;
    left: 0.5px;
}

.signup-form{
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 150px;
    text-align: left;
    
}
#SearchText {
    width: 200px;
    border: 1px solid black;
    padding: 5px;
    font-size: 14px;
  }
.signup-form input[type="submit"] {
    display: block;
    margin: 0 auto; 
}

.appformcontainer{
    width: 30%; 
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 60%;
    right: 5%;
    transform: translate(0, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: left;

} 
.appformcontainer1{
    width: 48%; 
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 33%;
    right: 5%;
    transform: translate(0, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: left;
    display: inline-flex;

}
.appformcontainertime{
    display: flex;
    flex-direction: column; /* Adjust as needed */
    height: 100%;
} 
.appformcontainerreason{
    display: flex;
    flex-direction: column; /* Adjust as needed */
    justify-content: space-between; /* This will distribute the space */
    height: 100%;
    margin-left: 30px;
} 
.form-groupapp {
    margin-bottom: 15px;
    text-align: left;
}
.form-groupbillinsert{
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
   
}
.form-groupbill{
    margin-top: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
}
.form-groupdental{
    margin-top: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
}
.form-groupbilledit{
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    justify-content: center;
}

.form-groupbill button {
    width: 120px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.form-groupdental button {
    width: 120px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.form-groupbillinsert button {
    width: 160px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
}
.form-groupbilledit button {
    width: 120px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 0%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px ;
}
.form-groupdentaledit button {
    width: 120px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px ;
}
.form-groupbillinsert input[type="submit"] {
    display: inline-block; /* Override to inline-block */
    margin: 0 10px; /* Adjust margins as needed */
}
.form-groupdentaledit{
    margin-top: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
}
.form-groupdentaledit input[type="submit"] {
    width: 120px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.form-groupapp button {
    width: 120px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 10px;
}
.form-groupapptime{
    margin-bottom: 5px;
}
.form-groupapp1 input[type="submit"] {
    display: inline-block;
    width: 120px;
    height: 30px;
    background-color: #48a4a7;
    border: none;
    text-align: center;
    border-radius: 20px;
    margin: 5px;
}

.form-groupapp label {
    display: block;
    text-align: left;
}
.form-groupapp textarea {
    width: 50%; 
}
input[type="submit"] {
    background-color: #48a4a7;
    color: black; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer;
    text-align: center;
    border-radius: 10px;

}
.form-groupmy {
    margin-bottom: 15px;
    text-align: center;
}
.form-groupmy button {
    width: 100px;
    background-color: #48a4a7;
   height: 30px;
    border: none;
    text-align: center;
    border-radius: 10px;
}
.form-groupmyapp button {
    width: 100px;
    background-color: #48a4a7;
   height: 30px;
    border: none;
    text-align: center;
    border-radius: 10px;
    margin-top: 200px;
}
.form-groupmyprof {
    margin-bottom: 15px;
    text-align: center;
}
.form-groupmyprof1 {
    margin-top: 160px;
    margin-bottom: 15px;
    text-align: center;
}
.form-groupmyprof button {
    width: 100px;
    background-color: #48a4a7;
   height: 30px;
    border: none;
    text-align: center;
    border-radius: 10px;
}

th{
	border: 1px solid black;
    background-color: #48a4a7;
}
td{
	border: 1px solid black;
    background-color: #75a3a4;
    height: 20px;
	
}
table{
	border-collapse: collapse;
	margin-left: 20px;
	width: 100%;
    text-align: center;
}

h2{
    color: #1c7072;
}
.formgroup{
    margin-bottom: 1px;
}
.admintable{
    margin-right: 10px;
    margin-top: 70px;
}